:root{
    // Colors styles
    --main-color-text: #2C2C2C; //main color text
    --active-color: #BBF330; //hover and active text and defolt button
    --color-text-input: #505050; //Color text placeholder input
    --onhover-active-color: #B5FF00; // hover and focus button
    --onhover-active-color-dark: #597D00; // hover and focus dark color
    --yellow-main-color: #FFE550; // Yellow main color
    --backgraund-color: #FEFEFE; // Backgraund color
    --color-link: #7EB101; //Color links
    --color-black: #000000; //menu in footer

    //Input
    --input-eror: #FF705D; // Eror input

        // card-set
        --indent: 30px;
        --items: 1;
}