<!-- Good luck  -->
<section class="reviews" id="service">
<div class="container">
    <h2 class="reviews__title section-title">What our Customers Say</h2>
    <p class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="reviews-list list card-set">
        <li class="reviews-list__item card-set-item">
            <div class="reviews-list__wrap-icon">
            <svg class="reviews-list__icon-star" width="17" height="16">
                <use href="./images/sprite.svg#star"></use>
            </svg>
             <svg class="reviews-list__icon-star" width="17" height="16">
                 <use href="./images/sprite.svg#star"></use>
            </svg>
            <svg class="reviews-list__icon-star" width="17" height="16">
                 <use href="./images/sprite.svg#star"></use>
            </svg>
            <svg class="reviews-list__icon-star" width="17" height="16">
                 <use href="./images/sprite.svg#star"></use>
            </svg>
            <svg class="reviews-list__icon-star" width="17" height="16">
                 <use href="./images/sprite.svg#star"></use>
            </svg>
            </div>
            <p class="reviews-list__text">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”</p>
           
            <div class="reviews-list__wrap">
            <picture>
                    <source srcset="./images/custoners-say/img1@1x.png 1x, ./images/custoners-say/img1@2x.png 2x" type="image/jpeg">
                    <source srcset="./images/custoners-say/img1@1x.webp 1x, ./images/custoners-say/img1@2x.webp 2x" type="image/webp">
                  <img src="./images/custoners-say/img2@1x.png" alt="reviews">
                  </picture>
                 <div class="reviews-list__desc">
            <h3 class="reviews-list__title">Sumith Shah</h3>
            <p class="reviews-list__subtitle">Some Dude</p>
            </div>
            </div>
        </li>
        <li class="reviews-list__item card-set-item">
            <div class="reviews-list__wrap-icon">
            <svg class="reviews-list__icon-star" width="17" height="16">
                <use href="./images/sprite.svg#star"></use>
            </svg>
             <svg class="reviews-list__icon-star" width="17" height="16">
                 <use href="./images/sprite.svg#star"></use>
            </svg>
            <svg class="reviews-list__icon-star" width="17" height="16">
                 <use href="./images/sprite.svg#star"></use>
            </svg>
            <svg class="reviews-list__icon-star" width="17" height="16">
                 <use href="./images/sprite.svg#star"></use>
            </svg>
            <svg class="reviews-list__icon-star" width="17" height="16">
                 <use href="./images/sprite.svg#star"></use>
            </svg>
            </div>
            <p class="reviews-list__text">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”</p>
       
            <div class="reviews-list__wrap">
                <picture>
                    <source srcset="./images/custoners-say/img2@1x.png 1x, ./images/custoners-say/img2@2x.png 2x" type="image/jpeg">
                    <source srcset="./images/custoners-say/img2@1x.webp 1x, ./images/custoners-say/img2@2x.webp 2x" type="image/webp">
                  <img src="./images/custoners-say/img2@1x.png" alt="reviews">
                  </picture>
                     <div class="reviews-list__desc">
            <h3 class="reviews-list__title">Sumith Shah</h3>

            <p class="reviews-list__subtitle">Some Dude</p>
            </div>
            </div>
        </li>
    </ul>
</div>
</section>