<!-- Denys Astafiev  -->
<section class="favorites section">
  <div class="container">
    <h2 class="favorites__title section-title">Some of Our Favorites</h2>
    <p class="favorites__txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list card-set list">
      <li class="favorites__item card-set-item">
        <a class="favorites__link link" href="" aria-label="dish">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/favorites01_dt.webp    1x,
                ./images/favorites/favorites01@2x_dt.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/favorites01_dt.png    1x,
                ./images/favorites/favorites01@2x_dt.png 2x
              "
              type="image/png" />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/favorites01_tb.webp    1x,
                ./images/favorites/favorites01@2x_tb.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/favorites01_tb.png    1x,
                ./images/favorites/favorites01@2x_tb.png 2x
              "
              type="image/png" />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/favorites/favorites01_mb.webp    1x,
                ./images/favorites/favorites01@2x_mb.webp 2x
              "
              type="image/webp" />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/favorites/favorites01_mb.png    1x,
                ./images/favorites/favorites01@2x_mb.png 2x
              "
              type="image/png" />

            <img
              src="./images/favorites/favorites01_dt.png"
              alt="Burger"
              width="315"
              height="315"
          /></picture>
        </a>
      </li>
      <li class="favorites__item card-set-item">
        <a class="favorites__link link" href="" aria-label="dish">
          <picture
            ><source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/favorites02_dt.webp    1x,
                ./images/favorites/favorites02@2x_dt.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/favorites02_dt.png    1x,
                ./images/favorites/favorites02@2x_dt.png 2x
              "
              type="image/png" />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/favorites02_tb.webp    1x,
                ./images/favorites/favorites02@2x_tb.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/favorites02_tb.png    1x,
                ./images/favorites/favorites02@2x_tb.png 2x
              "
              type="image/png" />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/favorites/favorites02_mb.webp    1x,
                ./images/favorites/favorites02@2x_mb.webp 2x
              "
              type="image/webp" />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/favorites/favorites02_mb.png    1x,
                ./images/favorites/favorites02@2x_mb.png 2x
              "
              type="image/png" />

            <img
              src="./images/favorites/favorites02_dt.png"
              alt="Pasta"
              width="315"
              height="315"
          /></picture>
        </a>
      </li>
      <li class="favorites__item card-set-item">
        <a class="favorites__link link" href="" aria-label="dish">
          <picture
            ><source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/favorites03_dt.webp    1x,
                ./images/favorites/favorites03@2x_dt.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/favorites03_dt.png    1x,
                ./images/favorites/favorites03@2x_dt.png 2x
              "
              type="image/png" />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/favorites03_tb.webp    1x,
                ./images/favorites/favorites03@2x_tb.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/favorites03_tb.png    1x,
                ./images/favorites/favorites03@2x_tb.png 2x
              "
              type="image/png" />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/favorites/favorites03_mb.webp    1x,
                ./images/favorites/favorites03@2x_mb.webp 2x
              "
              type="image/webp" />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/favorites/favorites03_mb.png    1x,
                ./images/favorites/favorites03@2x_mb.png 2x
              "
              type="image/png" />

            <img
              src="./images/favorites/favorites03_dt.png"
              alt="Pizza"
              width="315"
              height="315"
          /></picture>
        </a>
      </li>
      <li class="favorites__item card-set-item">
        <a class="favorites__link link" href="" aria-label="dish">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/favorites04_dt.webp    1x,
                ./images/favorites/favorites04@2x_dt.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/favorites04_dt.png    1x,
                ./images/favorites/favorites04@2x_dt.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/favorites04_tb.webp    1x,
                ./images/favorites/favorites04@2x_tb.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/favorites04_tb.png    1x,
                ./images/favorites/favorites04@2x_tb.png 2x
              "
              type="image/png"
            />

            <img
              src="./images/favorites/favorites04_dt.png"
              alt="Rice and chicken"
              width="315"
              height="315"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item card-set-item">
        <a class="favorites__link link" href="" aria-label="dish">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/favorites05_dt.webp    1x,
                ./images/favorites/favorites05@2x_dt.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/favorites05_dt.png    1x,
                ./images/favorites/favorites05@2x_dt.png 2x
              "
              type="image/png" />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/favorites05_tb.webp    1x,
                ./images/favorites/favorites05@2x_tb.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/favorites05_tb.png    1x,
                ./images/favorites/favorites05@2x_tb.png 2x
              "
              type="image/png" />

            <img
              src="./images/favorites/favorites05_dt.png"
              alt="Salad"
              width="315"
              height="315"
          /></picture>
        </a>
      </li>
      <li class="favorites__item card-set-item">
        <a class="favorites__link link" href="" aria-label="dish">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/favorites06_dt.webp    1x,
                ./images/favorites/favorites06@2x_dt.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/favorites06_dt.png    1x,
                ./images/favorites/favorites06@2x_dt.png 2x
              "
              type="image/png" />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/favorites06_tb.webp    1x,
                ./images/favorites/favorites06@2x_tb.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/favorites06_tb.png    1x,
                ./images/favorites/favorites06@2x_tb.png 2x
              "
              type="image/png" />

            <img
              src="./images/favorites/favorites06_dt.png"
              alt="Borscht with meat"
              width="315"
              height="315"
          /></picture>
        </a>
      </li>
    </ul>
  </div>
</section>
