<!-- Good luck  -->
<div class="footer container">
  <div class="footer__main">
    <div class="footer__block">
      <div class="footer__logo"></div>
      <div class="footer__menu"></div>
    </div>
    <div class="footer__subscribe"></div>
  </div>
  <nav class="footer__bottom footer-menu" aria-label="Footer Menu Additional">
    <ul class="footer-menu__list list">
      <li class="footer-menu__item">
        <a class="footer-menu__link link" href="#" target="_blank"
          >Privacy Policy</a
        >
      </li>
      <li class="footer-menu__item">
        <a class="footer-menu__link link" href="#" target="_blank"
          >Terms of Service</a
        >
      </li>
      <li class="footer-menu__item">
        <a class="footer-menu__link link" href="#" target="_blank"
          >Cookies Settings</a
        >
      </li>
    </ul>
    <p class="footer-menu__copyright">2022 FoodSta. All right reserved.</p>
  </nav>
</div>
