<footer class="footer" id="ontact">
  <div class="container">
    <div class="footer__main">
      <div class="footer__block">
        <div class="footer__logo">
          <a href="#">
            <svg width="69" height="51">
              <use href="./images/sprite.svg#icon-logo" />
            </svg>
          </a>
        </div>
        <div class="footer__menu">
          <div class="menu-nav">
            <ul class="menu-nav__list list">
              <li class="menu-nav__item">
                <a href="#" class="menu-nav__link link">Home</a>
              </li>
              <li class="menu-nav__item">
                <a href="#" class="menu-nav__link link">About</a>
              </li>
              <li class="menu-nav__item">
                <a href="#" class="menu-nav__link link">Service</a>
              </li>
              <li class="menu-nav__item">
                <a href="#" class="menu-nav__link link">Menu</a>
              </li>
              <li class="menu-nav__item">
                <a href="#" class="menu-nav__link link">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__subscribe footer-subscribe">
        <b class="footer-subscribe__title">Subscribe</b>
        <form class="subscribe__form-modifire">
          <label class="footer-subscribe__label form__label">
            <input
              class="form__input"
              type="email"
              name="email"
              placeholder="Enter your email"
              required
            />
          </label>
          <button class="btn-sub btn-sub-modifire-footer" type="submit">
            Subscribe
          </button>
        </form>
        <p class="footer-subscribe__text">
          By subscribing you agree to with our <a href="#">Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="footer__bottom footer-menu" aria-label="Footer Menu Additional">
      <ul class="footer-menu__list list">
        <li class="footer-menu__item">
          <a class="footer-menu__link link" href="#" target="_blank"
            >Privacy Policy</a
          >
        </li>
        <li class="footer-menu__item">
          <a class="footer-menu__link link" href="#" target="_blank"
            >Terms of Service</a
          >
        </li>
        <li class="footer-menu__item">
          <a class="footer-menu__link link" href="#" target="_blank"
            >Cookies Settings</a
          >
        </li>
      </ul>
      <p class="footer-menu__copyright">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>