<!-- Good luck  -->
<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="footer__block">
        <div class="footer__logo">
          <a href="#"
            ><img
              src="./images/logo/logo.png"
              alt="Логотип"
              width="66"
              height="52"
          /></a>
        </div>
        <div class="footer__menu">
          <div class="menu-nav" aria-label="Main">
            <ul class="menu-nav__list list">
              <li class="menu-nav__item">
                <a href="#" class="menu-nav__link link">Home</a>
              </li>
              <li class="menu-nav__item">
                <a href="#" class="menu-nav__link link">About</a>
              </li>
              <li class="menu-nav__item">
                <a href="#" class="menu-nav__link link">Service</a>
              </li>
              <li class="menu-nav__item">
                <a href="#" class="menu-nav__link link">Menu</a>
              </li>
              <li class="menu-nav__item">
                <a href="#" class="menu-nav__link link">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__subscribe footer-subscribe">
        <div class="footer-subscribe__title">Subscribe</div>
        <div class="footer-subscribe__text">
          By subscribing you agree to with our <span>Privacy Policy</span>
        </div>
      </div>
    </div>
    <div class="footer__bottom footer-menu" aria-label="Footer Menu Additional">
      <ul class="footer-menu__list list">
        <li class="footer-menu__item">
          <a class="footer-menu__link link" href="#" target="_blank"
            >Privacy Policy</a
          >
        </li>
        <li class="footer-menu__item">
          <a class="footer-menu__link link" href="#" target="_blank"
            >Terms of Service</a
          >
        </li>
        <li class="footer-menu__item">
          <a class="footer-menu__link link" href="#" target="_blank"
            >Cookies Settings</a
          >
        </li>
      </ul>
      <p class="footer-menu__copyright">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
