<header class="header">
  <div class="container header-container">
    <!-- Logo -->
    <a class="logo" href="./index.html">
      <svg width="71" height="52">
        <use href="./images/sprite.svg#logo"></use>
      </svg>
    </a>
    <!-- Navigation -->
    <nav class="nav">
      <ul class="nav__list" id="menu">
        <li class="nav__item">
          <a class="nav__link nav__link--current" href="./index.html">Home</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="#about">About</a></li>
        <li class="nav__item">
          <a class="nav__link" href="#service">Service</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#favorites">Menu</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- Button -->
    <button class="btn btn--nav" type="button" data-modal-header>
      Order Now
    </button>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      type="button"
    >
      <svg
        class="menu-toggle__icon"
        width="28"
        height="28"
        aria-label="Переключатель мобільного меню"
      >
        <use href="./images/sprite.svg#mobile-menu"></use>
      </svg>
    </button>
    <!-- Mobile menu -->
    <div class="mobile-menu js-menu-container" id="menu-mobile">
      <button class="mobile-menu__btn js-close-menu" type="button">
        <svg class="mobile-menu__cross" width="24" height="24">
          <use href="./images/sprite.svg#cross"></use>
        </svg>
      </button>
      <nav class="mobile-nav" id="menu">
        <ul class="mobile-nav__list">
          <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="">Home</a>
          </li>
          <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#about">About</a>
          </li>
          <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#service">Service</a>
          </li>
          <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#favorites">Menu</a>
          </li>
          <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
