<!-- Anastasiia Glugan  -->

<section class="hero">
  <div class="container hero__container">
    <div class="hero__wrap">
      <h1 class="hero__title section-title">
        Enjoy Your Favorite Food From Anywhere
      </h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="btn" type="button" data-modal-open>Order Now</button>
    </div>

    <!-- Swiper -->
    <div class="swiper__container">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  images/hero/img-1@1x_lg.webp 1x,
                  images/hero/img-1@2x_lg.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  images/hero/img-1@1x_lg.png 1x,
                  images/hero/img-1@2x_lg.png 2x
                "
                type="image/png"
              />

              <!-- tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  images/hero/img-1@1x_md.webp 1x,
                  images/hero/img-1@2x_md.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  images/hero/img-1@1x_md.png 1x,
                  images/hero/img-1@2x_md.png 2x
                "
                type="image/png"
              />

              <img
                src="images/hero/img-1@1x_md.png"
                alt="Falafel"
                class="swiper__img"
                width="292"
                height="292"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  images/hero/img-2@1x_lg.webp 1x,
                  images/hero/img-2@2x_lg.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  images/hero/img-2@1x_lg.png 1x,
                  images/hero/img-2@2x_lg.png 2x
                "
                type="image/png"
              />

              <!-- tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  images/hero/img-2@1x_md.webp 1x,
                  images/hero/img-2@2x_md.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  images/hero/img-2@1x_md.png 1x,
                  images/hero/img-2@2x_md.png 2x
                "
                type="image/png"
              />

              <img
                src="images/hero/img-2@1x_md.png"
                alt="Falafel"
                class="swiper__img"
                width="292"
                height="292"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  images/hero/img-3@1x_lg.webp 1x,
                  images/hero/img-3@2x_lg.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  images/hero/img-3@1x_lg.png 1x,
                  images/hero/img-3@2x_lg.png 2x
                "
                type="image/png"
              />

              <!-- tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  images/hero/img-3@1x_md.webp 1x,
                  images/hero/img-3@2x_md.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  images/hero/img-3@1x_md.png 1x,
                  images/hero/img-3@2x_md.png 2x
                "
                type="image/png"
              />

              <img
                src="images/hero/img-3@1x_md.png"
                alt="Falafel"
                class="swiper__img"
                width="292"
                height="292"
              />
            </picture>
          </div>
        </div>
      </div>

      <button class="swiper__btn swiper__btn--prev" type="button">
        <svg width="11" height="20" class="swiper__icon">
          <use href="./images/sprite.svg#vector-left"></use>
        </svg>
      </button>
      <button class="swiper__btn swiper__btn--next" type="button">
        <svg width="11" height="20" class="swiper__icon">
          <use href="./images/sprite.svg#vector-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
