<!-- Good luck  -->
<section class="subscribe">
  <div class="container">
    <h2 class="subscribe__title section-title">
      Subscribe To Get Special Offers
    </h2>
    <p class="subscribe__descr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <form class="subscribe__form">
      <label class="subscribe__label">
        <input
          class="subscribe__input"
          type="email"
          name="email"
          placeholder="Email"
        />
      </label>
      <button class="btn-sub" type="submit">Subscribe</button>
    </form>
  </div>
</section>
