.btn{
    background-color: var(--active-color);
    border-radius: 30px;
    cursor: pointer;
    padding: 6px 17px;
    color: var(--main-color-text);
    font-size: 14px;
    line-height: calc(21 / 14);
    border: 0;
    min-width: 100px;
    font-family: "Roboto", sans-serif;

    &:hover, :focus{
        background-color: var(--onhover-active-color);
    }
}

.btn-white{
            background-color: var(--backgraund-color);
            border-radius: 30px;
            cursor: pointer;
            padding: 10px 32px;
            color: var(--main-color-text);
            font-size: 14px;
            line-height: calc(21 / 14);
            border: 1px solid var(--color-link);
            min-width: 130px;
            font-family: "Roboto", sans-serif;

            &:hover, :focus{
                border-color: var(--onhover-active-color-dark);
            }
}

.btn-sub{
    background-color: var(--backgraund-color);
        border-radius: 30px;
        cursor: pointer;
        padding: 10px 20px;
        color: var(--main-color-text);
        font-size: 14px;
        line-height: calc(21 / 14);
        border: 1px solid var(--color-link);
        min-width: 100px;
        font-family: "Roboto", sans-serif;

        &:hover, &:focus{
            background-color: var(--yellow-main-color);
        }
}