.header {
    box-shadow: 0px 4px 24px 0px #6969691A;
}

.header-container {
    position: relative;
    display: flex;

    @media screen and (max-width: 767px) {
        justify-content: space-between;
    }

    @media screen and (min-width: 768px) {
        align-items: center;
    }
}

.menu-toggle {
    margin: 22px 0 22px auto;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    fill: var(--color-link);
    cursor: pointer;
    transition: fill var(--transition);

    @media screen and (min-width: 768px) {
        display: none;
    }

    &:hover,
    &:focus {
        fill: var(--onhover-active-color);
    }
}

.mobile-menu {
    position: relative;
    display: none;
    overflow: auto;
    border-radius: 30px 0 30px 30px;
    width: 130px;
    height: 255px;
    padding: 16px, 10px, 16px, 16px;
    background-color: var(--backgraund-color-second);
    z-index: 1000;
    transform: translateY(0);
    transition: transform var(--transition);
    box-shadow: 0px 4px 24px 0px #6969691A;

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 50;
        right: 26;
        font-size: 16px;
        line-height: 1.19;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }

    &.is-open {
        @media screen and (max-width: 767px) {
            display: block;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 4px;
        right: 4px;
        cursor: pointer;
    }

    &__cross {
        fill: var(--main-color-text);
    }
}

.menu-toggle__icon {
    @media screen and (max-width: 767px) {}
}

.nav {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        margin-right: 28px;
        margin-left: auto;
    }
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 28px;
}

.nav__link {
    text-decoration: none;
    color: currentColor;
    padding: 28px 0;
    transition: color var(--transition);

    &:hover,
    &:focus {
        color: var(--active-color);
    }

    &--current {
        // text-decoration: underline;
        position: relative;
        color: var(--active-color);

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -2px;
            left: 0;
            background-color: var(--active-color);
            border-radius: 2px;
            width: 100%;
            height: 4px;

        }
    }
}

.btn--nav {
    transition: background-color var(--transition);

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.mobile-nav__list {
    list-style: none;
}

.mobile-nav__link {
    display: block;
    color: var(--color-black);
    text-decoration: none;
    padding: 16px;

    &:active {
        background-color: var(--active-color);
    }
}

.mobile-nav__item {
    background-color: transparent;
    transition: background-color var(--transition);
    // &:hover,
    // &:focus {
    //     background-color: var(--active-color);
    // }
}