.subscribe__image {
    margin-bottom: 17px;
    @media screen and (max-width: 479px) {
        margin-left: auto;
    }
}

.subscribe__title {
    margin-bottom: 20px;
}

.subscribe__descr {
    margin-bottom: 40px;
}
.form__input{
    width: 100%;
    border: 1px solid var(--yellow-main-color);
    border-radius: 30px;
    padding: 12px 11px;
    margin-bottom: 4px;
    background-color: transparent;
    outline: transparent;
}
.form__input::placeholder {
    font-size: 12px;
    line-height: 1.5;
    border-color: var(--color-text-input);
}
.form__input:not(:placeholder-shown):required:valid {
    border-color: green;
}
.form__input:not(:placeholder-shown):required:invalid {
    border-color: red;
}
.form__input:focus:invalid + .form__input--notification{
    opacity: 1;
}
.subscribe .btn--sub{
    display: block;
    padding: 10px 22px;
    margin-left: auto;
}
.form__input--notification {
    font-size: 10px;
    line-height: 1.5;
    color: red;
    opacity: 0;
}