.hero {
  padding-top: 60px;
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    padding-right: 8x;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 14px;
  }
}

.hero__container {
  @media screen and (min-width: 768px) {
    position: relative;
    padding-bottom: 73px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.hero__wrap {
  @media screen and (min-width: 1280px) {
    max-width: 503px;
  }
}

.hero__title {
  margin-bottom: 28px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 537px;
    margin-bottom: 44px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 48px;
    line-height: calc(58 / 48);
  }
}

.hero__text {
  line-height: calc(21 / 14);
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    max-width: 336px;

    font-size: 16px;
    line-height: calc(24 / 16);
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 100%;
    text-align: justify;
  }
}
