.offerings {
  background-image: url(../images/offerings/bg@1x_sm.png);
  background-position: center top;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/offerings/bg@2x_sm.png);
  }

  @media screen and (max-width: 767px) {
    padding-top: 41px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 150px;
    background-image: url(../images/offerings/bg@1x_md.png);

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/offerings/bg@2x_md.png);
    }
  }

  @media screen and (min-width: 1280px) {
    padding-top: 177px;
    padding-bottom: 43px;
    background-image: url(../images/offerings/bg@1x_lg.png);

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/offerings/bg@2x_lg.png);
    }
  }
}

.offerings__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.offerings__img {
  @media screen and (min-width: 768px) {
    display: block;
    width: 100%;
  }
}

.offerings__img-list {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 704px;
    width: 100%;
  }
}

.offerings__img--tablet {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: block;
  }
}

.offerings__img {
  @media screen and (max-width: 767px) {
    max-width: 280px;
    width: 100%;
  }

  @media screen and (min-width: 1280px) {
    max-width: 550px;
    width: 100%;
  }
}

.offerings__wrap {
  max-width: 573px;
  width: 100%;
}

.offerings__text {
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    width: 500px;

    font-size: 16px;
    line-height: calc(19 / 16);
  }

  @media screen and (min-width: 1280px) {
    line-height: calc(24 / 16);
  }
}

.offerings__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  background-color: var(--backgraund-color);
  border-radius: 50%;

  margin-bottom: 8px;
}

.offerins__icon {
  fill: var(--color-link);
}

.offerings-list {
  --indent: 28px;
  --items: 1;
  margin-bottom: 28px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    --indent: 116px;
    --items: 2;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    --indent: 67px;
    --items: 2;
  }
}

.offerings-list__title {
  font-size: 18px;
  line-height: calc(21 / 18);
  margin-bottom: 16px;

  @media screen and (min-width: 1280px) {
    line-height: calc(25 / 18);
  }
}

.offerings-list__text {
  @media screen and (min-width: 1280px) {
    line-height: calc(21 / 14);
  }
}

.offerings__btn {
  width: 106px;
  font-size: 13px;
  line-height: calc(20 / 13);
  border: 2px solid var(--color-link);
  margin-right: 24px;

  &:hover,
  &:focus,
  &:active {
    border-color: var(--onhover-active-color-dark);
    background-color: var(--backgraund-color-second);
  }

  @media screen and (min-width: 1280px) {
    margin-right: 0;
  }
}

.offerings__link {
  display: inline-flex;
  align-items: center;
  gap: 4px;

  font-size: 14px;
  line-height: calc(20 / 14);
  color: var(--color-black);

  @media screen and (min-width: 1280px) {
    display: none;
  }
}