.offerings {
  background-image: url(../images/offerings/back-mob.png);
  background-position: center top;
  background-size: cover;

  @media screen and (min-width: 767px) {
    background-image: url(../images/offerings/back-tab.png);
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/offerings/back-desk.png);
  }
}

.offerings__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.offerings__img-list {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 704px;
    width: 100%;
    margin-bottom: 60px;
  }
}

.offerings__img--tablet {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: block;
  }
}

.offerings__img {
  @media screen and (max-width: 767px) {
    max-width: 280px;
    width: 100%;
  }

  @media screen and (min-width: 1280px) {
    max-width: 550px;
  }
}

.offerings__wrap {
  max-width: 573px;
  width: 100%;
}

.section-title {
  margin-bottom: 28px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 20px;
  }
}

.offerings__text {
  margin-bottom: 40px;
}

.offerings-list {
  --indent: 28px;
  --items: 1;
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    --indent: 116px;
    --items: 2;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    --indent: 67px;
    margin-bottom: 32px;
  }
}

.offerings__link {
  font-size: 14px;
  line-height: calc(20 / 14);
  color: #000000;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}
